.contact {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  margin-bottom: 200px;
  overflow: hidden;

  &__decor {
    grid-column: 1;
    background-image: url(../images/decor/decor_help.svg);
    background-repeat: no-repeat;
  }

  &__form {
    grid-column: 2 / 6;
    align-self: center;
  }

  &__heading {
    margin-bottom: 20px;
  }

  &__paragraph {
    margin-bottom: 20px;
  }

  &__button {
    margin-top: 50px;
    width: 100%;
    max-width: 280px;
    height: 60px;
    border: none;
    cursor: pointer;
  }

  &__image {
    grid-column: 8 / 12;
    align-self: center;
  }
}

@media (max-width: $smallScreenBreakPoint) {
  .contact {
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    margin-bottom: 100px;

    &__decor {
      display: none;
    }

    &__form {
      grid-column: 1 / 4;
    }

    &__image {
      grid-column: 4 / -1;
    }
  }
}

@media (max-width: $mobileScreenBreakPoint) {
  .contact {
    display: flex;
    margin-bottom: 60px;

    &__image {
      display: none;
    }
  }
}
