.promo {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding-bottom: 200px;

  &__paragraph {
    position: relative;
    grid-column: 2 / 6;
    padding: 100px 0;
    @extend %paragraph;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      width: 50vw;
      height: 1px;
      background-color: #344f1080;
    }
  }

  &__call {
    position: relative;
    grid-column: 7 / -1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 100px 0;
    color: $green;
    font-size: 24px;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: calc(50vw - 21px);
      height: 1px;
      background-color: #344f1080;
    }
  }
}

@media (max-width: $smallScreenBreakPoint) {
  .promo {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;

    &__paragraph {
      display: none;
    }

    &__call {
      width: 280px;
      padding: 0;
      text-align: center;
      font-size: 18px;

      &::after {
        display: none;
      }
    }
  }
}

@media (max-width: $smallScreenBreakPoint) {
  .promo {
    padding-bottom: 60px;
  }
}
