.title {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding-bottom: 200px;

  &__text {
    grid-column: 2 / 6;
    display: flex;
    flex-direction: column;
  }

  &__paragraph {
    margin-top: 30px;
    color: $black;
    font-size: 22px;
    line-height: 1.3em;
  }

  &__button {
    margin-top: 52px;
    width: 280px;
    height: 60px;
  }

  &__image-wrapper {
    grid-column: 7 / -1;
    align-self: center;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__no-break {
    white-space: nowrap;
  }
}

@media (max-width: $smallScreenBreakPoint) {
  .title {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
    padding-bottom: 100px;

    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 460px;
    }

    &__paragraph {
      margin-top: 20px;
      font-size: 18px;
      line-height: 1.5em;
    }

    &__button {
      margin-top: 58px;
    }

    &__image-wrapper {
      width: 100%;
    }
  }
}

@media (max-width: $mobileScreenBreakPoint) {
  .title {
    gap: 25px;
    padding-bottom: 60px;

    &__paragraph {
      margin-top: 12px;
    }

    &__button {
      margin-top: 46px;
    }
  }
}
