@import "_reset";
@import "utils";
@import "fonts";
@import "typography";
@import "blocks/container";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/nav";
@import "blocks/burger";
@import "blocks/title";
@import "blocks/button";
@import "blocks/promo";

.page {
  padding-top: 70px;
}

@media (max-width: 1280px) {
  body {
    background: $beige;
  }
}

@media (max-width: $smallScreenBreakPoint) {
  .page {
    padding-top: 36px;
  }
}

@media (max-width: $mobileScreenBreakPoint) {
  .page {
    padding-top: 12px;
  }
}
